*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Nunito', sans-serif;
  overflow-x:hidden;
}
.container{
  margin: auto;
  
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.background-image{
  position: relative;
  
}

.row .background-image::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
  z-index: 1; 
 
}

.row .background-image img{
  width: 100vw; 
  height: 99.2vh; 
  object-fit: cover; 
  top: 0;
  left: 0;
  z-index: -1; 

}

.row .background-image-text{
  position: absolute;
  color: white;
  z-index: 2;
  text-align: center;
  animation: fadeInRight 2s ease;
}

.btn{
  display: inline-block;
  background: white;
  color: black;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
  animation: fadeInUp 2s ease;
}

.btn:hover{
  background: rgb(121, 121, 121);
}

.categories{
  margin: 70px 0;
}

.col-1{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-1 img{
  width: 100%;
}

.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-2 {
  flex-basis: 25%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.col-2 img{
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s;
}

.col-2:hover img {
  transform: scale(1.06);
}

.col-2 p{
  font-size: 14px;
}

/* shop page */

.row-2{
  justify-content: space-between;
   margin:100px auto 50px;
}

@keyframes fadeInUp {
  0%{
      opacity: 0;
      transform: translateY(50px);
  }
  100%{
      opacity: 100;
      transform: translateY(0px);
  }
}
@keyframes fadeInRight {
  0%{
      opacity: 0;
      transform: translateX(-50px);
  }
  100%{
      opacity: 100;
      transform: translateX(0px);
  }
}